/.kiro
/.venv
/.vscode
/1.json
/data
__pycache__/
*.pyc
# logs
notebooks
plugins
warehouse
note.txt
tmp
test.py
README.md
run
.agent
profiles.yml
docs
__init__.py
dbt_project/dbt_packages/dbt_utils
.md
.dbtignore
dbt_profiles