/.kiro
/.venv
/.vscode
/1.json
/data
__pycache__/
*.pyc
logs
notebooks
plugins
warehouse
note.txt
tmp
test.py
README.md
run
.agent
docs
docs_for_my_prj
__init__.py
dbt_project/dbt_packages/dbt_utils
.md
.dbtignore
dbt_profiles
jars
dbt_packages
test